*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

/* header */

header{
    position: fixed;
    z-index: 2;
    width: 100%;
    transition: ease-out .2s;
}

header.sticky{
    background-color: #548acd;
    transition: ease-in .2s;
}

section{
    position: relative;
}

#header-background{
    width: 100%;
    height: 44.6vw;
    background: url(./Asset/209234-a-bookshelf-at-a-library-with-four-shelves-at-upps\ 1.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    width: 100%;
    position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    gap: 3.5vw;
}

.title{
    color: white;
    font-size: 3.56vw;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    margin-right: 1vw;
}

.logo-bca{
    width: 8vw;
    height: 3.2vw;
    margin-left: -13.5vw;
}

.line-1{
    border: solid;
    border-color: white;
    height: 3.17vw;
    border-width: 0.08vw;
    opacity: 0.4;
}

.line-container{
    display: flex;
    justify-content: space-around;
}

header.sticky .line-container{
    display: none;
}

.line-2{
    border: solid;
    border-color: white;
    border-width: 0.08vw;
    width: 68vw;
    opacity: 0.4;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: 1.58vw;
    width: 10vw;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    font-weight: 500;
    text-decoration: underline;
}

.header .active{
    font-weight: 500;
    text-decoration: underline;
}

.signout{
    border-color: #548BCD;
    border-style: solid;
    border-width: 0.25vw;
    background-color: rgba(255, 255, 255, 0.882);
    padding: 0.8vw 1.8vw;
    border-radius: 1vw;
    color: #548BCD;
    font-weight: 700;
    font-size: 1.3vw;
    transition: .3s;
    text-decoration: none;
}

.signout:hover{
    background-color: #fff;
    cursor: pointer;
}

.quote-container{
    height: 30vw;
    padding-top: 15vw;
}

.quote{
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-text{
    position: relative;
    width: 86%;
    font-size: 3.8vw;
    font-weight: 800;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.quote-name{
    font-size: 3.5vw;
    font-weight: 500;
    font-style: italic;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    padding-top: 2vw;
}

/* main content */

.flex-content{
    display: flex;
}

.left-content{
    /* border: solid black; */
    height: auto;
    width: 15vw;
    margin-left: 4vw;
    margin-top: 6vw;
}

.filter-title{
    font-weight: 500;
    font-size: 1.7vw;
    color: #548BCD;
    opacity: 90%;
}

.left-content p{
    font-size: 1.4vw;
    font-weight: 500;
    margin-top: 0.5vw;
}

.left-content li{
    list-style-type: none;
    font-size: 1.18vw;
    margin-left: 1.2vw;
    margin-bottom: 0.2vw;
}

.left-content li a{
    color: black;
    opacity: 80%;
    text-decoration: none;
}

.left-content a:hover{
    color: #548BCD;
}

.genre{
    border: none;
    cursor: pointer;
    background: none;
    font-size: 1.2vw;
    display: block;
    margin-bottom: 0.2vw;
    margin-left: 1.2vw;
    text-decoration: none;
    color: #000;
}

.genre.active{
    color: #548BCD;
    font-weight: bold;
}

.genre:hover{
    color: #548BCD;
}

.right-content{
    /* border: solid #548BCD; */
    height: auto;
    width: 80%;
    margin-top: 5vw;
    margin-left: 1vw;
}

.line-with-circle{
    width: 80%;
}

.physical-title{
    color: #548BCD;
    font-size: 2.6vw;
    font-weight: 700;
    margin-bottom: 0.8vw;
}

.book-container{
    /* border: #000 solid; */
    margin-bottom: 4vw;
}

.book-header-container{
    display: flex;
    /* height: 6vw; */
    /* border: #548BCD solid; */
}

.list-container{
    margin-right: 2vw;
    margin-top: 2vw;
}

.box-container{
    width: 17.6vw;
    background-color: #ffffff;
    border: 0 solid;
    border-radius: 1%;
    box-shadow: 0.15vw 0.15vw 1vw rgba(0, 0, 0, 0.25), -0.15vw -0.15vw 1vw rgba(0, 0, 0, 0.25);
    cursor: pointer;
    margin: 1vw 0.5vw;
    padding: 2vw 0vw 1.5vw 0vw;
    transition: transform .3s;
}

.box-container:hover{
    transform: scale(1.05);
}

.image-container{
    height: 14vw;
    display: flex;
    justify-content: space-around;
    padding-top: 0.3vw;
}

.book-image{
    width: 10vw;
}

.text-in-box{
    margin: auto;
    margin-top: 1vw;
    text-align: center;
    width: 86%;
}

.book-title{
    /* background-color: aquamarine; */
    font-size: 1.1vw;
    font-weight: 600;
    color: black;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-author{
    /* background-color: aqua; */
    font-size: 1vw;
    color: #A3A3A3;
    height: 3.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* pagination */

.pagination-container{
    display: flex;
    justify-content: center;
    margin-top: 2vw;
}

.page{
    margin-right: 1vw;
    font-size: 1.5vw;
    text-decoration: none;
    color: #000;
}

.page.active{
    font-weight: bold;
    color: #548BCD;
}

.page:hover{
    color: #548BCD;
}

/* footer */

.rectangle-footer{
    margin-top: 6vw;
}

.footer-background{
    width: 100%;
    height: 14.7vw;
    background: url(./Asset/Rectangle\ 31.png);
    background-size: 100%;
    position: absolute;
    z-index: 1;
}

.footer-text{
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-top: 4.5vw;
}

.footer-text-group{
    text-align: center;
    font-weight: 400;
}

.footer-title{
    font-size: 3vw;
    color: white;
}

.footer-contact{
    font-size: 1.18vw;
    color: black;
    margin-bottom: 0.42vw;
}

.footer-copyright{
    font-size: 1.1vw;
    color: black;
    margin-bottom: 0.42vw;
}

.line-3{
    border: solid;
    border-color: rgba(255, 255, 255, 0.959);
    border-width: 0.03vw;
    width: 63.3vw;
    opacity: 0.4;
    margin-bottom: 0.42vw;
}

.contact{
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.contact:hover{
    text-decoration: underline;
}