*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

/* header */

header{
    position: fixed;
    z-index: 2;
    width: 100%;
    transition: ease-out .2s;
}

header.sticky{
    background-color: #548acd;
    transition: ease-in .2s;
}

section{
    position: relative;
}

#header-background{
    width: 100%;
    height: 44.6vw;
    background: url(./Asset/home-banner-img.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
    width: 100%;
    position: relative;
}

.alert-container{
    display: none;
    justify-content: center;
}

.alert{
    padding: 1.5vw;
    background-color: rgba(255, 255, 255, 0.9);
    color: #548BCD;
    text-align: center;
    font-size: 1.3vw;
    font-weight: 700;
    z-index: 3;
    position: absolute;
    border-radius: 1vw;
    width: 80%;
    top: 10%;
    left: 10%;
    animation: alert_animation 1s;
}

@keyframes alert_animation {
    from {top: -80%;}
    to {top: 10%;}
}

.alert-container.active{
    display: flex;
}

.closebtn{
    color: #548BCD;
    float: right;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover{
    color: black;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    gap: 3.5vw;
}

.title{
    color: white;
    font-size: 3.56vw;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    margin-right: 1vw;
}

.logo-bca{
    width: 8vw;
    height: 3.2vw;
    margin-left: -13.5vw;
}

.line-1{
    border: solid;
    border-color: white;
    height: 3.17vw;
    border-width: 0.08vw;
    opacity: 0.4;
}

.line-container{
    display: flex;
    justify-content: space-around;
}

header.sticky .line-container{
    display: none;
}

.line-2{
    border: solid;
    border-color: white;
    border-width: 0.08vw;
    width: 68vw;
    opacity: 0.4;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding-top: 1vw;
    padding-bottom: 1vw;
    font-size: 1.58vw;
    width: 10vw;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    font-weight: 500;
    text-decoration: underline;
}

.header .active{
    font-weight: 500;
    text-decoration: underline;
}

.signout{
    border-color: #548BCD;
    border-style: solid;
    border-width: 0.25vw;
    background-color: rgba(255, 255, 255, 0.882);
    padding: 0.8vw 1.8vw;
    border-radius: 1vw;
    color: #548BCD;
    font-weight: 700;
    font-size: 1.3vw;
    transition: .3s;
    text-decoration: none;
}

.signout:hover{
    background-color: #fff;
    cursor: pointer;
}

.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10vw;
}

.book-image{
    position: relative;
    width : 15vw;
    height: auto;
}

.welcome-text{
    position: relative;
    font-size: 4.25vw;
    font-weight: 800;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.date-text{
    position: relative;
    font-size: 2vw;
    font-weight: 500;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
    color: white;
    text-align: center;
    margin-top: 9vw;
}

.history-title{
    font-size: 2.9vw;
    font-weight: 700;
}

.history-text{
    margin: 5vw 16vw;
    color: #548BCD;
}

.history-text p{
    font-size: 1.2vw;
}

.bold-text{
    font-weight: 700;
}

.line-between-text{
    border: solid;
    border-color: #548BCD;
    border-width: 0.1vw;
    background-color: #548BCD;
    width: 68vw;
    margin-top: 1.2vw;
    margin-bottom: 1.2vw;
}

.history-text .main-text{
    font-size: 1.4vw;
    text-align: justify;
    width: 68vw;
}

.mid-image{
    width: 100%;
}

.flex-text{
    display: flex;
    margin-left: 12vw;
    margin-top: 6vw;
    margin-bottom: 6vw;
    color: #548BCD;
}

.left-text{
    font-size: 1.8vw;
    margin-right: 3vw;
    margin-top: 2vw;
}

.right-text{
    margin-left: 3vw;
    font-size: 3vw;
    margin-top: 3vw;
    font-weight: 700;
}

.middletext-line{
    border: solid #548BCD;
    background-color: #548BCD;
    height: 15vw;
    border-width: 0.1vw;
    /* opacity: 0.4; */
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: -1vw;
}

.image-lower{
    width: 100%;
}

.flex-image-text{
    position: relative;
    display: flex;
}

.text-inside-left{
    position: absolute;
    margin-left: 10vw;
    font-size: 2.9vw;
    font-weight: 700;
    color: white;
    margin-top: 12vw;
}

.text-inside-right{
    font-weight: 400;
    position: absolute;
    margin-left: 46vw;
    font-size: 1.7vw;
    color: white;
    margin-top: 11vw;
}

.middletext-line2{
    position: absolute;
    border: solid white;
    background-color: white;
    height: 15vw;
    border-width: 0.1vw;
    margin-left: 42vw;
    margin-right: 2vw;
    margin-top: 8vw;
}

.lower-content{
    margin-bottom: 6vw;
}

.footer-background{
    width: 100%;
    height: 14.7vw;
    background: url(./Asset/Rectangle\ 31.png);
    background-size: 100%;
    position: absolute;
    z-index: 1;
}

.footer-text{
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: space-around;
    padding-top: 4.5vw;
}

.footer-text-group{
    text-align: center;
    font-weight: 400;
}

.footer-title{
    font-size: 3vw;
    color: white;
}

.footer-contact{
    font-size: 1.18vw;
    color: black;
    margin-bottom: 0.42vw;
}

.footer-copyright{
    font-size: 1.1vw;
    color: black;
    margin-bottom: 0.42vw;
}

.line-3{
    border: solid;
    border-color: rgba(255, 255, 255, 0.959);
    border-width: 0.03vw;
    width: 63.3vw;
    opacity: 0.4;
    margin-bottom: 0.42vw;
}

.contact{
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.contact:hover{
    text-decoration: underline;
}